<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      name="theme-color"
      content="<%= htmlWebpackPlugin.options.themeColor %>"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icon_16x16.png" />
    <link rel="manifest" href="manifest.json" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="/" />
  </head>
  <body>
    <noscript>Please enable JavaScript to view this page.</noscript>
    <div id="content">Loading...</div>
  </body>
</html>
